# Compiled Java files
/teacher-portal-backend/target/
/teacher-portal-backend/bin/
*.class
*.jar
*.war
*.ear

# Maven
.mvn/
mvnw
mvnw.cmd

# IDE files
.idea/
*.iml
*.project
.settings/

# Logs
*.log
logs/

# Node.js dependencies
/teacher-portal-frontend/node_modules/
/teacher-portal-frontend/dist/
/teacher-portal-frontend/.pnp.*

# Node.js logs and cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/

# Environment variables
.env
.env.local